*{
    margin: 0;
    top: 0;
}

body{
    background-image: url(images/238870.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}

.top-container{
    height: 1000px;
    width: 100%;
    position: relative;
}

.middle-container{
    height: 1000px;
    width: 100%;
   position: relative;
   /* background: rgba(247, 244, 244, 0.7) */
}

.top-container nav{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    margin-right: 40px;
}

.top-container .Intro{
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 240px;
}

.top-container nav ul a {
   margin-right: 50px;
   text-decoration: none;
   color: white;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
   font-size: 15px;
   text-shadow: 2px 2px 8px rgb(86, 76, 76);
}

.top-container p{
   color: white;
   font-size: 20;
   text-shadow: 2px 2px 8px black;
   
}


.top-container h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
    /* box-shadow: 0 5px 10px 1px black; */
    text-shadow: 2px 2px 8px black;
 }

 .middle-container .skills-wrapper{
    height: 100%;
    width: 95%;
    margin: auto;
   /* background: rgba(64, 0, 174, 0.9) ; */
}

.middle-container .sq{
    color: white;
    text-align: center;
    font-size: 100px;
}

.middle-container h2 {
   color: white;
   text-align: center;

}

.middle-container li {
    color: white;
    text-align: center;
    list-style-type: none;
 
 }

 .middle-container img {
   width: 80px;
   height: 80px;
 }

 .container{
    float: left;
    /* margin: 20px auto; */
    width: 240px;
    height: 240px;
    background: rgba(247, 244, 244, 0.1);
    display:grid;
    grid-template-columns: 100px 200px;
    grid-row: 100px auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding :10px;
    border-radius: 20px;
  }

  .box{
    /* background-color:#333; */
    padding:20px;
    border-radius:10px;
    /* color:#fff; */
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    border: 2px solid rgba(98, 97, 97, 0.2);
  }

  .frontend-container {
        
    height: 400px;
    width: 80%;
   margin: 0 auto;
  }

  .frontend-container h1{
    display: inline-block;
    margin-top: 10px;
   color: white;
  }